
header {
    display: flex;
    justify-content: space-between;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* buttons */

#welcome button:hover,
#review button:hover {
    background-color:#f57973;
}

#welcome button,
#review button {
    /* background:linear-gradient(to bottom, #ff4238 5%, #d11100 100%); */
	background-color:#ff4238;
	border-radius:13px;
	display:flex;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 46px;
	text-decoration:none;
    outline: none;
}

#questionOptions {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#questionOptions button:hover {
    background-color: rgb(88, 185, 250);
}

#questionOptions button {
    display: flex;
    background: rgba(3, 123, 170, 0.85);
    color: seashell;
    padding: 5px 5px;
    border-style: none;
    margin: 10px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
}

.hidden {
    display: none !important
}

.quiz-title{
    display: flex;
    justify-content: center;
}

title {
    display: flex;
    justify-content: center;
}

/* welcome page */
#welcome h1,
#welcome p,
#questionBody

{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
#welcome h1 {
    font-size: 30px;
    
}
#welcome p 
{
    font-weight:700
}

#questionBody {
    font-size: 28px;
    text-decoration-color: rgba(0, 0, 0, 0.5);
    font-weight: bold
}

/* display timer result with style */

#printTimerResult {
    color: red;
}




.btn-box
{
    display: flex;
    justify-content: center;
}


#scorePrompt {
    display: flex;
    justify-content: center
}

#initials,
#initialsEntry {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
/* highscore page */
#scores {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#scores h1  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

#scoresList {
    list-style-position: inside;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: px;
    display: flex;
    flex-direction: column;
    min-width: min-content;
    align-self: center;
}

#scoresList li {
    margin: 5px 0 5px 0;
}

#scoresList li:nth-child(odd){
    background-color:  rgb(88, 185, 250);
    padding-top: 3px;
}

